fastapi
uvicorn
pandas
googletrans==4.0.0-rc1
langdetect
joblib
pydantic
scikit-learn
numpy
scipy
pyjwt
cryptography
vaderSentiment
beautifulsoup4
requests
python-dotenv
pytest
jinja2
jose
nltk
python-multipart
nltk
lxml
spacy
matplotlib
seaborn
textblob
duckdb
psutil
tenacity